<header>

  <h1>Quotebook</h1>
  <nav class="nav-brand">
    <a href="/" class="nav-link">Home</a>
    <a href="/quotes" class="nav-link">Quotes</a>
    {{#if username}} <!-- If username variable is truthy -->
      <a href="/logout" class="nav-link">Logout</a>
    {{else}}
      <a href="/login" class="nav-link">Login</a>
    {{/if}} <!-- ends the hbs if block -->
  </nav>

</header>