<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Categories</title>
  <link rel="stylesheet" href="/main.css">
</head>

<body>

  {{> header}}

  <main>

    <section>

      <h2>Quote Categories</h2>
      <form class="quote-select">
      {{#each categories}}
        <a href="/quotes/{{this}}" class="nav-link">{{this}}</a>
      {{/each}}
      </form>

    </section>

  </main>

  {{> footer}}
  
</body>
</html>
