<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Categories</title>
  <link rel="stylesheet" href="/main.css">
</head>

<body>

  {{> header}} <!-- header partial -->

  <main>

    <section>

      <h2>Quote Categories</h2>
      <form class="quote-select">
      {{#each categories}}
        <!-- Begin iterating over 'categories', a context-provided list or array. -->
        <a href="/quotes/{{this}}" class="nav-link">{{this}}</a>
      {{/each}}
      <!-- End of the iteration block -->
      </form>

    </section>

  </main>

  {{> footer}} <!-- footer partial -->
  
</body>
</html>
