<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quote Home</title>
  <link rel="stylesheet" href="/main.css">
</head>

<body>

  {{> header}}

  <main>
    {{#if username}}
      <h1>Welcome, {{username}}!</h1>
    {{else}}
      <h1>Welcome to the Quotebook OSU! Login <a href="/login">here</a>.</h1>
    {{/if}}
  </main>

  {{> footer}}

</body>
</html>
