<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quote Login</title>
  <link rel="stylesheet" href="/main.css">
</head>

<body>

    {{> header}}

  <main>

    <fieldset>

      <legend>Login</legend>

    <form action="/login" method="post">
      <label for="username">Username:</label>
      <input type="username" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit" id="login-submit">Login</button>

    </form>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    
    </fieldset>
  </main>

  {{> footer}}

</body>
</html>
